.sp-icons {
  background-image: url(icons.png);
}


.sp-icons__fb {
  background-position: 0px -185px;
  width: 32px;
  height: 32px;
}
.sp-icons__gplus {
  background-position: -32px -185px;
  width: 32px;
  height: 32px;
}
.sp-icons__hover:test {
  background-position: -123px -92px;
  width: 60px;
  height: 38px;
}
.sp-icons__hover-test {
  background-position: -50px -134px;
  width: 60px;
  height: 38px;
}
.sp-icons__menu-1-hover {
  background-position: -110px -134px;
  width: 60px;
  height: 38px;
}
.sp-icons__menu-1 {
  background-position: -170px -134px;
  width: 60px;
  height: 38px;
}
.sp-icons__menu-2 {
  background-position: 0px -92px;
  width: 63px;
  height: 42px;
}
.sp-icons__menu-3 {
  background-position: 0px -134px;
  width: 50px;
  height: 51px;
}
.sp-icons__menu-4 {
  background-position: -251px 0px;
  width: 15px;
  height: 61px;
}
.sp-icons__next {
  background-position: -251px -61px;
  width: 14px;
  height: 24px;
}
.sp-icons__rest-1 {
  background-position: 0px 0px;
  width: 92px;
  height: 92px;
}
.sp-icons__rest-2 {
  background-position: -175px 0px;
  width: 76px;
  height: 92px;
}
.sp-icons__rest-3 {
  background-position: -92px 0px;
  width: 83px;
  height: 89px;
}
.sp-icons__test:hover {
  background-position: -63px -92px;
  width: 60px;
  height: 38px;
}
.sp-icons__test-hover {
  background-position: -183px -92px;
  width: 60px;
  height: 38px;
}
.sp-icons__title {
  background-position: -50px -172px;
  width: 51px;
  height: 12px;
}
.sp-icons__tweet {
  background-position: -64px -185px;
  width: 32px;
  height: 32px;
}
