extends includes/layout
block title
	title Restaurant
block content
	// begin wrapper
	#main.wrapper
		// begin header
		header
			nav.row
				ul.main-nav
					li.is-active: a(href="#") Home
					li: a(href="#") Restaurant
					li: a(href="#") Menu
					li: a(href="#") Reservation
					li: a(href="#") Events
					li: a(href="#") Contact
			// begin head-slider
			.head-slider
				// begin item-slider
				.item-slider
					img(src='img/slider-1.jpg')
					.item-slider__in
						// begin item-slider__title
						.item-slider__title
							h2 Primavera
							p Oriental restaurant
							// begin socials-list
							ul.socials-list
								li
									a(href='#'): i.icon.icon-fb
								li
									a(href='#'): i.icon.icon-tweet
								li
									a(href='#'): i.icon.icon-gplus
							// end socials-list
						// end item-slider__title
				//end item-slider
				// begin item-slider
				.item-slider
					img(src='img/slider-2.jpg')
					.item-slider__in
						// begin item-slider__title
						.item-slider__title
							h2 Primavera
							p Oriental restaurant
							// begin socials-list
							ul.socials-list
								li
									a(href='#'): i.icon.icon-fb
								li
									a(href='#'): i.icon.icon-tweet
								li
									a(href='#'): i.icon.icon-gplus
							// end socials-list
						// end item-slider__title
				//end item-slider
			// end head-slider
			button.next-page
				.next-page__inner
					i.icon-next
		// end header

		// begin section restaurant
		section.restaurant.row
			h3.section-title restaurant
			center: .section-title-icon.icon-title
			.section-info.
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
			// begin rest-list
			ul.rest-list
				li
					a
						.rest-list__inner
							i.icon.icon-rest-1
							.rest-list__info
								p.
									originally roasted coffee
				li
					a
						.rest-list__inner
							i.icon.icon-rest-2
							.rest-list__info
								p.
									originally roasted coffee
				li
					a
						.rest-list__inner
							i.icon.icon-rest-3
							.rest-list__info
								p.
									originally roasted coffee
			// end rest-list

			// begin rest-gallery
			ul.rest-gallery
				li
					a(href='#').rest-gallery__item
						img(src='img/photo-1.jpg')
				li
					a(href='#').rest-gallery__item
						img(src='img/photo-2.jpg')
				li
					a(href='#').rest-gallery__item
						img(src='img/photo-3.jpg')
				li
					a(href='#').rest-gallery__item
						img(src='img/photo-4.jpg')
			// end rest-gallery
		// end section restaurant
		
		// begin section menu
		section.menu.row
			h3.section-title menu
			center: .section-title-icon.icon-title
			.section-info.
				showcase your site visitors the best menu, specialty restaurants to attract your potential customers
			// begin menu-list
			ul.menu-list
				li(data-category='.menu-1')
					a
						i.icon.icon-menu-1
				li(data-category='.menu-2')
					a
						i.icon.icon-menu-2
				li(data-category='.menu-3')
					a
						i.icon.icon-menu-3
				li(data-category='.menu-4')
					a
						i.icon.icon-menu-4
			// end menu-list
			// begin menu-items
			ul.menu-items
				li.menu-1
					a(href='#').menu-items__img
						img(src="img/menu-item-1.jpg")
					.menu-items__in
						h3: a(href='#') Fresh salad simple
						p tomatoes, cucumber, fresh lettuce, olives
						.menu-items__price
								span $29,99
								span $25,99
				li.menu-2
					a(href='#').menu-items__img
						img(src="img/menu-item-2.jpg")
					.menu-items__in
						h3: a(href='#') Fresh salad simple
						p tomatoes, cucumber, fresh lettuce, olives
						.menu-items__price
								span $29,99
								span $25,99
				li.menu-3
					a(href='#').menu-items__img
						img(src="img/menu-item-3.jpg")
					.menu-items__in
						h3: a(href='#') Fresh salad simple
						p tomatoes, cucumber, fresh lettuce, olives
						.menu-items__price
								span $29,99
								span $25,99
				li.menu-4
					a(href='#').menu-items__img
						img(src="img/menu-item-4.jpg")
					.menu-items__in
						h3: a(href='#') Fresh salad simple
						p tomatoes, cucumber, fresh lettuce, olives
						.menu-items__price
								span $29,99
								span $25,99
				li.menu-1
					a(href='#').menu-items__img
						img(src="img/menu-item-1.jpg")
					.menu-items__in
						h3: a(href='#') Fresh salad simple
						p tomatoes, cucumber, fresh lettuce, olives
						.menu-items__price
								span $29,99
								span $25,99
				li.menu-2
					a(href='#').menu-items__img
						img(src="img/menu-item-2.jpg")
					.menu-items__in
						h3: a(href='#') Fresh salad simple
						p tomatoes, cucumber, fresh lettuce, olives
						.menu-items__price
								span $29,99
								span $25,99
				li.menu-3
					a(href='#').menu-items__img
						img(src="img/menu-item-3.jpg")
					.menu-items__in
						h3: a(href='#') Fresh salad simple
						p tomatoes, cucumber, fresh lettuce, olives
						.menu-items__price
								span $29,99
								span $25,99
				li.menu-4
					a(href='#').menu-items__img
						img(src="img/menu-item-4.jpg")
					.menu-items__in
						h3: a(href='#') Fresh salad simple
						p tomatoes, cucumber, fresh lettuce, olives
						.menu-items__price
								span $29,99
								span $25,99
			// end menu-items
			center
				button.btn-more see more
		// end section menu
	// end wrapper

	// begin footer
	.footer
	// end footer